ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(228, 31, 41, 0.904);
	position: sticky;
	top: 0;
	z-index: 1;
}

li {
	display: block;
	float: left;
	padding: 14px 16px;
	color: white;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-collapse: collapse;

	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 20px;
}

li:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.topImage {
	display: block;
	margin-bottom: 50px;
}

.slide {
	display: none;
	max-width: 40%;
	max-height: 30%;
	margin-top: 10px;
}

.spaceAbove {
	margin-top: 50px;
}

.noTop {
	margin-top: 0;
}

.lowBottom {
	margin-bottom: 0px;
	border-bottom: black 2px solid;
}

.spaceBelow {
	margin-bottom: 25px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.text {
	display: flex;
}

.text-center {
	text-align: center;
	max-width: 60%;
}

.block {
	height: 200px;
	width: 50%;
}

.animate-left {
	position: relative;
	animation: animateleft 0.6s;
}
@keyframes animateleft {
	from {
		right: -25px;
		opacity: 0.7;
	}
	to {
		right: 0;
		opacity: 1;
	}
}

.active {
	display: block;
}

.blue {
	background-color: rgb(50, 81, 156);
	color: white;
}

.darkBlue {
	background-color: rgba(29, 22, 74, 255);
	color: white;
}

.red {
	background-color: rgb(207, 92, 100);
	color: white;
}

.topText,
.bottomText {
	padding-left: 80px;
	padding-right: 80px;
}

.topText {
	margin-top: 70px;
	margin-bottom: 0;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 3px black solid;
}

.bottomText {
	padding-top: 20px;
	font-size: 20px;
	margin-top: 0px;
	border-radius: 0px 0px 10px 10px;
}

.btn {
	border-color: transparent;
	width: 25%;
	height: 30px;
}

.btn:hover {
	cursor: pointer;
}

.small-text {
	font-size: 18px !important;
}

.left {
	text-align: left;
	max-width: 50%;
	padding-right: 20%;
}

.inline {
	display: flex;
	border-top: black 2px dashed;
}

.low {
	margin-top: 45px;
}

.image {
	display: block;
	width: 80%;
}

a {
	text-decoration: none;
	color: inherit;
}
